{% extends base_template %}

{% block title %}
    {# NEXT_MAJOR: remove default filter #}
    {% if objectId|default(admin.id(object)) is not null %}
        {{ 'title_configure'|trans({'%name%': admin.toString(object)|truncate(15) }, 'admin') }}
    {% else %}
        {{ 'title_configure'|trans({}, 'admin')|truncate(15) }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {# NEXT_MAJOR: remove default filter #}
    {% if objectId|default(admin.id(object)) is not null %}
        {{ 'title_configure'|trans({'%name%': admin.toString(object)|truncate(100) }, 'admin') }}
    {% else %}
        {{ 'title_configure'|trans({}, 'admin')|truncate(100) }}
    {% endif %}
{% endblock %}

{%- block actions -%}
    {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{%- block tab_menu -%}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass': 'active',
        'template': get_global_template('tab_menu_template')
    }, 'twig') }}
{%- endblock -%}

{% use '@SonataAdmin/CRUD/base_edit_form.html.twig' with form as parentForm %}

{% block form %}
    <div class="sonata-ba-form">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields">
                            {{ form_widget(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sonata-ba-form-actions well well-small form-actions">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
